/* Sass color variables */
* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  padding: 0;
  font-size: 100%; }

/* Make the body 100% of the browser viewport height */
html,
body {
  height: 100%;
  margin: 0; }

body {
  overflow-x: hidden; }

h1 {
  padding: 20% 0 0 0;
  margin: 0;
  text-align: center;
  font-size: 20px; }

p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5); }

a {
  color: white; }

strong {
  color: #fff; }

img {
  max-width: 100%;
  height: auto; }

header, .header-2 {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }
  header ul, .header-2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 60px 0 0 0;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header ul li, .header-2 ul li {
      margin: 0 16px;
      list-style: none;
      color: white;
      font-style: italic;
      position: relative; }
      header ul li:not(.header-img)::after, .header-2 ul li:not(.header-img)::after {
        opacity: 0;
        content: "";
        height: 4px;
        width: 110%;
        position: absolute;
        left: 50%;
        bottom: -14px;
        background-color: #fff;
        -webkit-transition: opacity 200ms ease;
        transition: opacity 200ms ease;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      header ul li:hover::after, .header-2 ul li:hover::after {
        opacity: 1; }
      header ul li a, .header-2 ul li a {
        font-weight: 500; }
      header ul li a:hover, .header-2 ul li a:hover {
        color: #e8e8e8;
        text-decoration: none; }

/************ Responsive menu **************/
header.open-menu, .open-menu.header-2 {
  background-color: #003e5d;
  height: 100vh;
  position: fixed; }
  header.open-menu .header-logo, .open-menu.header-2 .header-logo {
    display: block;
    text-align: center; }
  header.open-menu ul, .open-menu.header-2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 65%;
    margin: 0;
    font-size: 1.4rem; }
    header.open-menu ul li, .open-menu.header-2 ul li {
      position: relative; }
      header.open-menu ul li::after, .open-menu.header-2 ul li::after {
        content: "";
        width: 0;
        height: 2px;
        -webkit-transition: width 500ms cubic-bezier(0.25, 0.1, 0, 1.01);
        transition: width 500ms cubic-bezier(0.25, 0.1, 0, 1.01);
        position: absolute;
        bottom: -12px;
        background-color: #ffe407;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        opacity: 1; }
    header.open-menu ul li:hover::after, .open-menu.header-2 ul li:hover::after {
      width: 130%; }
  header.open-menu .social-media, .open-menu.header-2 .social-media {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    place-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1rem auto;
    font-size: 1.4rem;
    grid-column-gap: 24px; }

.open-closed-menu-btn {
  display: none;
  position: fixed;
  top: 15px;
  right: calc(0% + 25px);
  cursor: pointer; }

.header-logo {
  display: none; }

.social-media {
  display: none; }

.outside-header-logo {
  display: none;
  position: absolute;
  top: 36px;
  left: calc(0% + 25px); }

header.open-menu ~ div header.header-2 .outside-header-logo, header.open-menu ~ div .header-2 .outside-header-logo, .open-menu.header-2 ~ div .header-2 .outside-header-logo {
  display: none; }

/***** hamburguer-icon ****/
#hamburguer-menu {
  width: 50px;
  height: 45px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  -webkit-transform: scale(0.7);
          transform: scale(0.7); }

#hamburguer-menu span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#hamburguer-menu span:nth-child(1) {
  top: 0px; }

#hamburguer-menu span:nth-child(2),
#hamburguer-menu span:nth-child(3) {
  top: 18px; }

#hamburguer-menu span:nth-child(4) {
  top: 36px; }

#hamburguer-menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#hamburguer-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

#hamburguer-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

#hamburguer-menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

/***************************************************/
.header-2 {
  position: absolute;
  top: -25px; }
  .header-2 ul {
    margin: 0; }
    .header-2 ul .header-img {
      margin: 0 -10px;
      margin-top: 1.4rem; }

.header-fixed-position {
  position: fixed;
  top: -28px; }

.header-img {
  width: 160px;
  position: relative; }

.relative-container {
  position: relative; }

/* Make each section 100% of the browser viewport height */
section {
  height: 110vh;
  color: white;
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 600px;
  /* Make a pause between slides */
  /* Center the content of the sections */ }
  section .inner {
    margin: 0 auto;
    max-width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%; }

.inner-img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  min-width: 40%; }
  .inner-img .inner-img-box {
    width: 90%;
    margin: 0 auto;
    position: relative;
    bottom: -15px; }

#section-1 .inner-img {
  padding-top: 0; }
  #section-1 .inner-img .inner-img-box {
    width: 100%;
    margin: 0 auto;
    position: static; }

.inner-cart {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.cart-title {
  text-align: left; }
  .cart-title h2 {
    font-style: italic;
    font-size: 2.9rem;
    font-weight: bold;
    line-height: 1.15;
    color: #fff; }
    .cart-title h2 span {
      font-size: 1.5rem;
      display: inline-block; }

.big-title h2, .small-title h2, .medium-title h2 {
  font-size: 5.5rem;
  line-height: 1;
  margin: 0 0 30px 0; }

.cart-btn {
  font-weight: bold;
  border: 3px solid white;
  border-radius: 40px;
  padding: 6px 20px;
  font-style: italic;
  font-size: 1.3rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease; }
  .cart-btn:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none; }

.small-title h2 {
  font-size: 3.9rem; }

.medium-title h2 {
  font-size: 4.8rem; }

/* Background colors for each section */
#section-1 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100% !important; }

#section-2 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100% !important; }

#section-3 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100% !important; }

#section-4 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100% !important; }

#section-5 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100% !important; }

#section-6 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100% !important; }

#section-7 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100% !important; }

#section-1 {
  background-image: url("http://chronusoil.com/wp-content/uploads/HOME.jpg"); }

#section-2 {
  background-image: url("http://chronusoil.com/wp-content/uploads/A-GASOLINA.jpg"); }

#section-3 {
  background-image: url("http://chronusoil.com/wp-content/uploads/A-DIESEL.jpg"); }

#section-4 {
  background-image: url("http://chronusoil.com/wp-content/uploads/FUERA-DE-BORDA.jpg"); }

#section-5 {
  background-image: url("http://chronusoil.com/wp-content/uploads/MOTOCICLETAS.jpg"); }

#section-6 {
  background-image: url("http://chronusoil.com/wp-content/uploads/TRANSMISIONES.jpg"); }

#section-7 {
  background-image: url("http://chronusoil.com/wp-content/uploads/INDUSTRIALES.jpg"); }

div[data-scrollmagic-pin-spacer] {
  height: 100% !important; }

/************* SCROLL ANIMATION **************/
.mouse-position {
  position: absolute;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: calc(10vh + -60px);
  left: 50%;
  margin: 50px 0; }

/* END: PEN STYLES */
/*
  Animated Mouse Scroll Button (v1.0)
  By Sam Jakob Mearns (https://www.samjakob.com/)
  */
.mouse-container {
  display: block;
  text-align: center; }
  .mouse-container .mouse-outer {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 35px;
    border: 2px solid white;
    border-radius: 60px;
    -webkit-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out; }
    .mouse-container .mouse-outer .mouse-wheel {
      position: absolute;
      top: 10%;
      left: 50%;
      margin-left: -2.9166666667px;
      height: 15px;
      width: 6px;
      background-color: white;
      border-radius: 6px;
      -webkit-transition: background-color 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out;
      -webkit-animation: scroll 1.4s infinite linear;
      animation: scroll 1.4s infinite linear; }
    .mouse-container .mouse-outer:hover {
      border-color: rgba(255, 255, 255, 0.4); }
      .mouse-container .mouse-outer:hover .mouse-wheel {
        background-color: rgba(255, 255, 255, 0.4); }

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: scaleY(0.5) translateY(0);
            transform: scaleY(0.5) translateY(0); }
  20% {
    -webkit-transform: scaleY(1) translateY(7.5px);
            transform: scaleY(1) translateY(7.5px); }
  60% {
    -webkit-transform: scaleY(0.5) translateY(15px);
            transform: scaleY(0.5) translateY(15px); }
  to {
    -webkit-transform: scaleY(0.5) translateY(0);
            transform: scaleY(0.5) translateY(0); } }
@keyframes scroll {
  0% {
    -webkit-transform: scaleY(0.5) translateY(0);
            transform: scaleY(0.5) translateY(0); }
  20% {
    -webkit-transform: scaleY(1) translateY(7.5px);
            transform: scaleY(1) translateY(7.5px); }
  60% {
    -webkit-transform: scaleY(0.5) translateY(15px);
            transform: scaleY(0.5) translateY(15px); }
  to {
    -webkit-transform: scaleY(0.5) translateY(0);
            transform: scaleY(0.5) translateY(0); } }
/************************************************/
/************** MEDIA QUERIES ***************/
@media screen and (max-width: 770px) {
  .medium-title h2,
  .small-title h2,
  .big-title h2,
  .small-title h2,
  .medium-title h2 {
    font-size: 2.5rem; }

  .cart-title h2 {
    font-size: 2rem; }
    .cart-title h2 span {
      font-size: 1.2rem;
      line-height: 1.2; }

  header .open-closed-menu-btn, .header-2 .open-closed-menu-btn {
    display: block; }
  header .outside-header-logo, .header-2 .outside-header-logo {
    display: block; }
  header ul, .header-2 ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }

  section .inner {
    top: 45%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  #section-1 > .inner {
    top: 40%; }

  .inner-cart {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }

  .inner-img .inner-img-box {
    width: 100%;
    margin: 0 auto;
    bottom: 0; }

  #section-1 {
    background-position: center center; }

  #section-2 {
    background-position: center center; }

  #section-3 {
    background-position: center center; }

  #section-4 {
    background-position: center center; }

  #section-5 {
    background-position: center center; }

  #section-6 {
    background-position: center center; }

  #section-7 {
    background-position: center center; } }
@media screen and (min-width: 320px) and (max-width: 770px) {
  .inner-img {
    width: 215px;
    padding-top: 5%; } }
@media screen and (min-width: 770px) and (max-width: 1060px) {
  .medium-title h2,
  .small-title h2,
  .big-title h2,
  .small-title h2,
  .medium-title h2 {
    font-size: 3.5rem; } }
@media screen and (max-height: 475px) {
  section .inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    section .inner .inner-cart {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }

  .inner-img .inner-img-box {
    bottom: 0px;
    width: 80%; }

  .medium-title h2,
  .small-title h2,
  .big-title h2,
  .small-title h2,
  .medium-title h2 {
    font-size: 2.5rem; }

  .cart-title h2 {
    margin: 0.5rem 0; }

  .mouse-position {
    left: calc(100vw + -60px); }

  header .open-closed-menu-btn, .header-2 .open-closed-menu-btn {
    display: block; }
  header .outside-header-logo, .header-2 .outside-header-logo {
    display: block; }
  header ul, .header-2 ul {
    display: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 50%;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  header.open-menu, .open-menu.header-2 {
    overflow-y: scroll; }
    header.open-menu ul, .open-menu.header-2 ul {
      height: 40%; } }

/*# sourceMappingURL=style.css.map */